# AUTHOR: RyoNak
# UPDATE: 2023-08-03
# General
sandbox/
tmp/

# Sensitive
*.gpg

# Envrionments
.env
env/
ENV/
env.bak/
.venv

# Cache
.DS_Store
*.bak
*.swp
__pycache__

# Logs
logs
*.log

# bfg
..bfg-report
bfg_check_list/

# quarto
_site/
/.quarto/
_freeze
.python-version

# stan models
stanmodel
stanmodel.hpp