project:
  type: website
  output-dir: _site

website:
  title: "regmonkey_web_template"
  description: "どうなんですか"
  open-graph: true
  google-analytics: 
      tracking-id: "G-LVL413SV09"
  favicon: ./img/favicon.ico
  # repo-url: https://github.com/OhGoshGit/OhGoshGit.github.io
  # issue-url: https://github.com/OhGoshGit/OhGoshGit.github.io/issues
  # repo-actions: [issue]
  navbar:
    title: Home
    collapse: true

    right:
      - about.qmd
      # - icon: github
      #   href: https://github.com/OhGoshGit/OhGoshGit.github.io
      - icon: rss
        href: index.xml
  page-footer:
    border: false
    center:
      - text: © Copyright RyoNak
      - text: "License"
        href: LICENSE
  # comments:
  #   utterances:
  #        repo: OhGoshGit/OhGoshGit.github.io
  #        label: discussion
  #        issue-term: title

format:
  html:
    include-in-header: 
      - include/setup_googletagmanager.html
      - include/custom_webfont.html
    include-in-body: include/setup_googletagmanager_body.html
    include-after-body: include/custom_section.html
    lang: ja_JP.UTF-8
    number-depth: 1
    jupyter: python3
    theme: 
      light: 
        - cosmo
        - include/custom.scss
        - include/light.scss
      dark: 
        - darkly
        - include/custom.scss
        - include/dark.scss
    code-copy: true
    code-fold: true
    code-overflow: wrap
    date-format: "iso"
    css: styles.css
    mainfont: "Noto Sans JP"
    monofont: monospace
    toc: true
    highlight: arrow
    page-layout: full
    grid:
      sidebar-width: 250px
      body-width: 1200px
      margin-width: 250px

tbl-cap-location: top
