/* css styles */
.quarto-figure figcaption {
  text-align: center;
}

.callout.callout-style-default div.callout-body {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: var(--r-main-font-size);
}

.callout.callout-style-default div.callout-header {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 1.1rem;
}
