/* css styles */
.quarto-figure figcaption {
  text-align: center;
}

.callout.callout-style-default div.callout-body {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: var(--r-main-font-size);
}

.callout.callout-style-default div.callout-header {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 1.1rem;
}

.table.caption-top.table {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

/* update default style */

li {
  line-height: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* --------------------------*/
/*   contents style          */
/* --------------------------*/

.mini-section {
  font-weight: bold;
  font-size: 1.1em;
  display: inline-flex;
  align-items: center;
}

.mini-section::before {
  content: "▶";
  margin-right: 0.4em;
}

/* --------------------------*/
/*          MathJax          */
/* --------------------------*/

.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.MathJax_Display {
  overflow: clip visible !important;
}


/* --------------------------*/
/*          Table            */
/* --------------------------*/
/* Remove top border from header cells */
.no-border-top-table table,
.no-border-top-table table th,
.no-border-top-table table td {
  border-top: none;
}