/*-- scss:rules --*/
.quarto-title-banner {
  background-image: url(img/nightsky.jpg);
}

#quarto-header > nav {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0em;
  padding-top: 0em;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
  margin-bottom: 1rem;
}

#title-block-header.quarto-title-block.default .description > p:last-of-type,
#title-block-header.quarto-title-block.default .abstract > p:last-of-type {
  margin-bottom: 1rem;
}

#quarto-margin-sidebar .quarto-listing-category {
  font-size: 0.8rem;
}

div.listing-description {
  font-size: 0.875rem;
}

div.quarto-post .body .listing-subtitle {
  font-size: 1.2rem;
}

.quarto-grid-item .card-title {
  margin-bottom: 0.5em;
}

.chapter-number::after {
  content: ".";
}

code span.cf {
  font-weight: normal;
}

.top-callout {
  margin-top: 0;
}

.profile-pic {
  border-radius: 5px;
}

.quarto-title .quarto-categories .quarto-category {
  padding: 0.25em 0.75em;
  font-size: 0.65em;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 0.25rem;
  opacity: 0.9 !important;
}
