/*-- scss:rules --*/
.blog-custom-border {
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0em;
  border-style: solid;
  border-color: #1ac398;
}

.quarto-title-banner {
  background-image: url(img/nightsky.jpg) !important;
  background-repeat: no-repeat;
}


.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    vertical-align: middle;
    border: none !important;
  }
  
  .custom-table th {
    background-color: transparent;
    color: #000000;
    font-weight: bold !important;
    text-align: center !important;
  }
  
  /* Add underline (bottom border) below Header 2 and Header 3 */
  .custom-table th:nth-child(2)::after,
  .custom-table th:nth-child(n + 2)::after {
    content: "";
    display: block;
    width: 100%; /* Make the underline shorter than the column width (adjust percentage as needed) */
    margin: 5px auto 0;
    border-bottom: 3px solid #333; /* Add a solid underline */
  }
  
  .custom-table td {
    background-color: transparent;
  }
  
  .custom-table tr:nth-child(0),
  .custom-table th:nth-child(n + 2) td {
    background-color: transparent;
  }
  
  .custom-table tr:hover td {
    background-color: transparent;
    cursor: pointer;
  }
  
  
  /* Dotted separation between rows */
  .custom-table tr {
    border-bottom: 1px solid #4e4e4e; /* Dotted line separating rows */
  }
  
  .custom-table td {
    border-right: 1px solid transparent !important; /* Add vertical line between columns */
    border-left: 1px solid transparent !important; /* Add vertical line between columns */
  }
  
  .custom-table thead tr {
    border-bottom: none;
  }
  
  /* Apply black background to the first column */
  .custom-table td:nth-child(1) {
    background: linear-gradient(
      to top,
      transparent 0%,
      transparent 3%,
      #1ac398 3%,
      #1ac398 97%,
      transparent 97%,
      transparent 100%
    );
    text-align: center !important;
    font-weight: bold !important;
    color: white; /* Change text color to white for contrast */
  }
  