/*-- scss:rules --*/
.blog-custom-border {
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0em;
  border-style: solid;
  border-color: #00008b;
}

.quarto-title .quarto-categories .quarto-category {
  padding: 0.25em 0.75em;
  font-size: 0.65em;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 0.25rem;
  opacity: 0.9 !important;
}
