/*-- scss:rules --*/
.blog-custom-border {
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0em;
  border-style: solid;
  border-color: #00008B;
}

.quarto-title .quarto-categories .quarto-category {
  padding: .25em .75em;
  font-size: .65em;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: .25rem;
  opacity: 0.9 !important;
}